.upload-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .upload-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .upload-button:hover {
    background-color: #4589a0;
  }
  
  .upload-message {
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
    color: #04ab0f;
    animation: zoomIn  0.6s ease-out;
  }
  @keyframes zoomIn {
    0% { transform: scale(0); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
}

  #up{
    background-color: #43c76d ;
    width: 60%;
    height: 25px;
    font-size: 1.0em;
    font-weight: bold;
    color: #ffffff;
    animation: popIn 0.8s ease-out;
  }

  .success-message {
    color: #04ab0f; /* Màu xanh lá */
    animation: zoomIn 0.6s ease-out;
  }
  
  /* Khi thông báo lỗi */
  .error-message {
    color: red; /* Màu đỏ */
    animation: shake 0.6s ease-out;
  }
  
  /* Hiệu ứng shake khi lỗi */
  @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
  }
  .uploadOK {
    margin: 5px 0;

    font-size: 1.2em; /* Kích thước font */
    color: #2c8a54; /* Màu xanh lá nhấn mạnh */
    animation: blink 3s infinite; /* Hiệu ứng nhấp nháy lặp vô hạn */
  }
  
  /* Hiệu ứng nhấp nháy */
  @keyframes blink {
    50% {
      opacity: 1; /* Hoàn toàn hiển thị */
    }
    75% {
      opacity: 0; /* Mờ hoàn toàn */
    }
    100% {
      opacity: 1; /* Hiển thị lại */
    }
  }
  
  .Magnet{
    margin-top: 15px ;
    margin-bottom: 5px ;
    font-size: 20px;
    color: #1c67a8;
  }
  .redirect-button{
    margin: 15px 0;
    padding: 10px 10px;
    background-color: #1cb4f5;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #ffffff;
  }

  .redirect-button:hover{
    background-color: #08729f;
  }